
<div class="hobby">
  <h2>add hobby</h2>
  <input type="text" placeholder="hobby name" [(ngModel)]="hobbyName">
  <input type="text" placeholder="hobby length" [(ngModel)]="hobbyDuration">
  <button (click)='addHobby($event)'>add Hobby</button>
  <p>hobbies</p>
  <p *ngFor='let item of hobbies'>{{item.name}} duration:{{item.duration}}</p>
  <p *ngIf='submitted && hobbies.length == 0' class="error">add 1 more hobby</p>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="firstName" required >
    <div *ngIf="submitted && f.firstName.errors" >
      <div *ngIf="f.firstName.errors.required" class="error">First Name is required</div>
  </div>
    <input type="text" formControlName="lastName" required >
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required" class="error">Last Name is required</div>
  </div>
    <input type="date" formControlName='dateOfBirth' required >
    <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
      <div *ngIf="f.dateOfBirth.errors.required" class="error">dateOfBirth  is required</div>
  </div>
    <select formControlName='framemowork' (change)="selectChangeHandler($event)" required >
      <option value="{{item}}" *ngFor='let item of frameworks'>{{item}}</option>
    </select>
    <div *ngIf="submitted && f.framemowork.errors" class="invalid-feedback">
      <div *ngIf="f.framemowork.errors.required" class="error">framemowork  is required</div>
  </div>
    <select f *ngIf="actualFrameworkVersions.length>0" name="" id="" required (change)="selectChangeVersion($event)">
      <option value=""></option>
      <option value="" *ngFor='let item of actualFrameworkVersions' value="{{item}}">{{item}}</option>
    </select>
    <input type="email" formControlName='email' required >
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required" class="error">Email is required</div>
      <div *ngIf="email.invalid && email.touched" class="error">Email must be a valid email address</div>
  </div>
  <p *ngIf='errorDuplicateMail' class="error">this email already exist</p>
  <div>
    <button>register</button>
  </div>
   
  </form>